@model WebApplicationOnFramework.Models.Student

@{
    ViewBag.Title = "View Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Student</h2>

<div>
    <p>Id: @Model.StudentId</p>
    <p>Name: @Model.StudentName</p>
    <p>Age: @Model.Age</p>
</div>